{% extends 'imtinan/base.html' %}
{% block content %}
  <!--- Blog -->
  <div class="container mt-5">
  <!------------------------------------------------->

<div class="alert alert-primary" role="alert">
      <h2 style="text-align: center"> Achievements </h2>
    </div>
    <div class="card-group mr-2">

       {% for querys in blogs %}
      {% for blog in querys %}

      
 
        {%  if blog.tag == "achievement" %}
        <div class="card mr-2" style="border-top-style: solid;width: 22rem; border-top-color: cyan;border-top-width: 5px">
          <img src="{{ blog.image.url }}" class="card-img-top" alt="..." style="height: 150px;width:auto">
          <div class="card-body mr-2">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.description | truncatechars:100}}</p>
            <a href="{% url 'blog_read' blog.id  %}" class="btn btn-primary">Read More</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
        
        {%  endif %}
         {%   endfor  %}

        {%   endfor  %}
        <button class="btn btn-outline-success"><a href="{% url 'blog_detailed' 'achievement'  %}" class="btn btn-outline-dark">See More</a></button>
      </div>






  <!---------------------------------------------------->


    <!--------------------------------------------->
    <div class="alert alert-primary" role="alert">
      <h2 style="text-align: center"> Technology </h2>
    </div>
    <div class="card-group">
      {% for querys in blogs %}
      {% for blog in querys %}
        {%  if blog.tag == "technology"  %}
        <div class="card">
          <img src="{{ blog.image.url }}" class="card-img-top" alt="..." style="height: 150px;width:auto">
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.description | truncatechars:100}}</p>
            <a href="{% url 'blog_read' blog.id  %}" class="btn btn-primary">Read More</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
        {%  endif %}
        {%   endfor  %}
        {%   endfor  %}
        <button class="btn btn-outline-success"><a href="{% url 'blog_detailed' 'technology'  %}" class="btn btn-outline-dark">See More</a></button>
      </div>
      <!--------------------------------------------->
      <div class="alert alert-primary mt-5"- role="alert">
        <h2 style="text-align: center"> Travel </h2>
      </div>
      <div class="card-group">
        {% for querys in blogs %}
        {% for blog in querys %}
          {% if blog.tag == "travel" %}
            <div class="card">
              <img src="{{ blog.image.url }}" class="card-img-top" alt="..." style="height: 150px;width:auto">
              <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.description | truncatechars:100}}</p>
                <a href="{% url 'blog_read' blog.id  %}" class="btn btn-primary">See More</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% endfor %}
        <button class="btn btn-outline-success"><a href="{% url 'blog_detailed' 'travel'  %}" class="btn btn-outline-dark">See More</a></button>
        
      </div>
    </div>
    <!-- blog end -->
    {% include 'imtinan/contact.html' with contact=contact %}
  {% endblock %}